nav{
    background: #2b2b2b;
    padding: 18px 30px;
    border-radius: 50px;
    box-shadow: 0 15px 35px rgba(0,0,0,.35);
}

nav ul{
    display: flex;
    gap: 18px;
    list-style: none;
    align-items: center;
}

nav a{
    position: relative;
    display: block;
    padding: 12px 22px;
    border-radius:  999px;
    text-decoration: none;
    color: #ececec;
    font-size: 20px;
    font-weight: 500;
    transition: .35s ease;
    overflow: hidden;
}

nav a:hover{
    color: #fff;
    transform: translateY(-5px);
    font-size: 21px;
}

nav a::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 999px;
    background: linear-gradient(135deg,#e4058e,#8b2cff);
    opacity: 0;
    z-index: -1;
    transition: .35s;
} 

nav a:hover::before{
    opacity: 1;
}

/* Definindo uma cor pro fundo da página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1A1C23;
    color: #C5CBD3;
    margin: 0;
    padding: 40px;
}

h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 80px;
    font-weight: 900;
    background: linear-gradient(45deg, #ff007f, #7928ca, #0070f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px;
}

/* Títulos em Azul Escuro sofisticado (com destaque) */
h2, h3 { 
    text-align: center;
    color: #1e3a8a;
    background-color: #6d9edf;
    padding: 10px 20px; 
    border-radius: 6px;
}

.inicio {
    min-height: 85vh;
    text-align: center;
    padding: 40px;
}



p {
    font-size: 16px;
    line-height: 1.6;
}

section {
    max-width: 1000px;
    margin: 20px;
    padding: 10px;
}

table {
    border: 1px solid #5333bd;
}


body > p {
    text-align: center;
}

.apresentacao {
    display: flex;
    align-items: center;
}

.info-filme {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foto-perfil {
    width: 200px;
    margin-right: 20px;
}

.poster {
    width: 200px;
}

.rodape {
    text-align: center;
}