/* Definindo uma cor pro fundo da página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1A1C23;
    color: #C5CBD3;
    margin: 0;
    padding: 40px;
}

h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 80px;
    font-weight: 900;
    background: linear-gradient(45deg, #ff007f, #7928ca, #0070f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px;
}

/* Títulos em Azul Escuro sofisticado (com destaque) */
h2, h3 { 
    color: #1e3a8a;
    background-color: #E2E8F0;
    padding: 10px 20px; 
    border-radius: 6px;
}

.inicio {
    min-height: 85vh;
    text-align: center;
    padding: 40px;
}



p {
    font-size: 16px;
    line-height: 1.6;
}

section {
    margin: 20px;
    padding: 10px;
}

table {
    border: 1px solid #5333bd;
}


body > p {
    text-align: center;
}

.apresentacao {
    display: flex;
    align-items: center;
}


.foto-perfil {
    width: 200px;
    margin-right: 20px;
}

.poster {
    width: 200px;
}
