.foto-perfil {
    width: 200px;
}

.poster {
    width: 200px;
}

body {
    background-color: #1d1a1a;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 80px;
    font-weight: 900;
    background: linear-gradient(45deg, #ff007f, #7928ca, #0070f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px;
}

.inicio {
    min-height: 85vh;
    text-align: center;
    padding: 40px;
}

h2 {
    color: #333333;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

section {
    margin: 20px;
    padding: 10px;
}

table {
    border: 1px solid #5333bd;
}

body {
    background-color: #41064a;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

body > p {
    text-align: center;
}

.apresentacao {
    display: flex;
    align-items: center;
}


.foto-perfil {
    width: 200px;
    margin-right: 20px;
}

body {
    background-color: #FFF4B8;
    font-family: Arial, sans-serif;
    margin: 30px;
}
